html {
    scroll-behavior: smooth;
}
.drive__item {
    transform: translateX(400%);
    transition: transform 0.7s ease;
}

.drive__item:nth-of-type(even) {
    transform: translateX(-300%);
}

.drive__item.show {
    transform: translateX(0);
}
