.header {
  position: fixed;
  top: 0;
  z-index: 99;
  width: 100%;
  min-height: 64px;
  display: flex;
  flex-direction: row;
  background-color: var(--color-white);
}

.header.show {
  box-shadow: var(--box-shadow);
}

.header__logo {
  display: flex;
  flex-direction: row;

  padding-left: 7px;
}

.header_link {
  display: flex;
  flex-direction: row;

  padding: 0 12px;
}

.header_link img {
  width: 33px;
  height: 100%;
}

.header__logo-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 64px;

  font-size: 22px;
}

.header__logo--google {
  font-size: 22px;
  margin: 0 5px;
}

.header__logo--product {
  color: var(--color-gray);
  font-weight: 400;
}

.header__link-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  width: 100%;
  min-height: 64px;
  padding-left: 10px;
}

.header__link-bar-item {
  min-height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.25px;

  color: var(--color-gray);
  /* margin: 0px 22px; */

  padding: 1px 12px 0;

  cursor: pointer;
}

.header__link-bar-item:hover {
  border-radius: 4px;
  background-color: #f8f9fa;
}

.buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
  max-height: 64px;
  flex: 1;
}

.buttons a {
  max-width: auto;
  height: 100%;
  max-height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 16px;
  font-weight: 500;
  border-radius: 4px;

  letter-spacing: 0.5px;

  padding: 2px 24px 0;

  cursor: pointer;
  text-align: center;
}

.btn-go {
  color: var(--color-primary);
  background-color: var(--color-white);

  border: 1px solid var(--color-border-white);

  margin: 8px 0px 4px 8px;
}

.btn-try {
  color: var(--color-white);
  background-color: var(--color-primary);

  margin: 8px 8px 4px 8px;
}

.btn-go:hover {
  background-color: rgba(209, 209, 209, 0.1);
  border: 1px solid var(--color-primary);
}

.btn-try:hover {
  background-color: rgb(9, 90, 197);
}
