@media (max-width: 1024px) {
    .drive__hero-title,
    .drive__platform-title,
    .drive__statistics-title,
    .drive__customers-title,
    .drive__tools-heading h2,
    .get_started__heading h2 {
        font-size: 40px;
    }
    .drive__item-title {
        font-size: 32px;
    }

    .drive__item-description {
        font-size: 14px;
    }

    .drive__statistics-description {
        font-size: 12px;
    }
    /*  */
    .header__menu-btn {
        display: block;
    }
    .drives {
        width: 90%;
    }
    .header__link-bar {
        display: none;
    }

    .drive__hero {
        flex-direction: column;
    }

    .drive__hero-container {
        width: 100%;
    }

    .drive__hero-image {
        padding-top: 50px;
        width: 100%;
    }

    .drive__hero-btn {
        width: 100%;
        flex-direction: row;
        justify-content: start;
    }

    .drive__item {
        flex-direction: column;
    }

    .drive__item:nth-of-type(odd) {
        flex-direction: column;
    }

    .drive__item-container {
        width: 100%;
    }

    .drive__item-image {
        width: 100%;
    }

    .drive__platform-description {
        padding: 0;
        width: 100%;
    }

    .drive__customers-title {
        padding: 10px;
        width: 100%;
    }

    .drive__customers-sliders-heading {
        padding: 10px 20px;
        width: 100%;
    }

    .drive__customers-sliders-link {
        padding-bottom: 40px;
    }

    .drive__customers-icons {
        flex-wrap: wrap;
        justify-content: center;
    }

    .drive__customers-icons img {
        margin: 0 20px 30px;
    }

    .drive__statistics {
        width: 100%;
    }

    .drive__tools-heading {
        padding: 10px;
        width: 100%;
    }

    .drive__tools-company {
        width: 100%;
        justify-content: center;
        flex-wrap: wrap;
    }

    .drive__tools-company li {
        width: auto;
    }

    .get_started__container {
        flex-direction: column;
    }

    .get_started__box {
        width: 80%;
        margin: 10px;
    }
    .footer__global {
        width: 90%;
        flex-direction: column;
    }
    .footer__global-logo {
        width: 100%;
        padding-left: 20px;
        justify-content: start;
    }
    .footer__global-links {
        flex-wrap: wrap;
    }
    .footer__global-more {
        padding-top: 30px;
        padding-left: 20px;
        width: 100%;
        justify-content: start;
    }
}

@media (max-width: 625px) {
    .drive__hero-title,
    .drive__platform-title,
    .drive__statistics-title,
    .drive__customers-title,
    .drive__tools-heading h2,
    .get_started__heading h2 {
        font-size: 28px;
    }
    .drive__item-title {
        font-size: 24px;
    }

    .drive__item-description {
        font-size: 14px;
    }

    .drive__statistics-title {
        text-align: center;
    }

    .drive__statistics-description {
        font-size: 12px;
    }
    /*  */
    .header .buttons {
        display: none;
    }

    .drive__statistics {
        flex-direction: column;
    }
    .drive__statistics-container {
        width: 100%;
    }
    .drive__statistics-description {
        width: 100%;
        text-align: center;
    }
    .drive__statistics-charts {
        width: 100%;
    }
    .chart-item {
        flex-direction: column;
        align-items: end;
    }
}
